nav {
  z-index: 1;
  position: absolute;
  background: rgba(0, 0, 0, 0.7); }

.carouselImg {
  width: 100%;
  max-width: 100%;
  height: auto; }

#bootstrap-overrides .carousel-inner {
  width: 100%;
  max-height: 600px; }

.carousel-item {
  overflow: hidden; }

#bootstrap-overrides .dropdown-toggle:focus, .dropdown-toggle:active {
  outline: none;
  box-shadow: none; }

.section-header {
  margin-top: 70px;
  margin-bottom: 30px; }

.img_box {
  position: relative;
  border-radius: 5px;
  height: 30%;
  width: 100%; }

.news_img {
  background-size: cover; }

.news_img:hover {
  opacity: 0.7;
  filter: alpha(opacity=50);
  /* For IE8 and earlier */ }

.full_width_height {
  width: 100%;
  height: 100%; }

#news1 {
  background: url("../images/car1.jpg") no-repeat center center; }

#news2 {
  background: url("../images/car2.jpg") no-repeat center center; }

#news3 {
  background: url("../images/car3.jpg") no-repeat center center; }

#bootstrap-overrides .card {
  border: none; }

.circulo {
  background: rgba(0, 0, 0, 0.8);
  width: 48px;
  height: 48px;
  display: none;
  text-align: center;
  position: absolute;
  top: 36%;
  left: 42%;
  border-radius: 100%; }

.mas {
  display: inline-block;
  font-weight: 700;
  color: #fff;
  font-size: 32px; }

.news_img:hover + .circulo {
  display: initial; }

.circulo:hover {
  display: initial; }

#bootstrap-overrides .race-box {
  border-radius: 15px; }

#nextRace:before {
  display: block;
  width: 100%;
  height: 8px;
  background: #ae2;
  border-bottom: 4px solid #FFFFFF;
  content: ''; }

#card1 {
  background-color: yellow; }

#card2 {
  background-color: aqua; }

#card3 {
  background-color: red; }

.slick-prev {
  background-color: black;
  color: black; }

#riderCarousel:before, footer:before {
  display: block;
  width: 100%;
  height: 8px;
  background: #ae2;
  border-bottom: 4px solid #FFFFFF;
  content: ''; }
