//añadir color al tema bootstrap
$theme-colors: (
        "compak": #ae2
);

// styles.scss
nav{
  z-index: 1;
  position: absolute;
  background: rgba(0,0,0,0.7);
}

.carouselImg{
  width: 100%;
  max-width:100%;
  height: auto;
}

#bootstrap-overrides .carousel-inner{
  width:100%;
  max-height: 600px;
}

.carousel-item{
  overflow: hidden;
}

#bootstrap-overrides .dropdown-toggle:focus,.dropdown-toggle:active {
  outline: none;
  box-shadow: none;
}

.section-header{
  margin-top: 55px;
  margin-bottom: 30px;
}

.section-header2{
  margin-top: 30px;
  margin-bottom: 30px;
}

.img_box{
  position: relative;
  border-radius: 5px;
  height: 30%;
  width: 100%;
}

.news_img{
  background-size: cover;
}

.news_img:hover{
  opacity: 0.7;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

.full_width_height{
  width: 100%;
  height: 100%;
}

#news1{
  background: url("../images/car1.jpg") no-repeat center center;
}

#news2{
  background: url("../images/car2.jpg") no-repeat center center;
}

#news3{
  background: url("../images/car3.jpg") no-repeat center center;
}

#bootstrap-overrides .card{

}

.circulo{
  background: rgba(0,0,0,.8);
  width: 48px;
  height: 48px;
  display: none;
  text-align: center;
  position: absolute;
  top: 36%;
  left: 42%;
  border-radius: 100%;
}

.mas{
  display: inline-block;
  font-weight: 700;
  color: #fff;
  font-size: 32px;
}

.news_img:hover + .circulo{
  display: initial;
}

.circulo:hover{
  display: initial;
}

#bootstrap-overrides .race-box{
  border-radius: 15px;
}

.slick-prev{
background-color: black;
  color: black;
}

#riderCarousel:before, footer:before, .footer2:before{
  display: block;
  width: 100%;
  height: 8px;
  background: #ae2;
  border-bottom: 4px solid #FFFFFF;
  content: '';
}

.riderCard{
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
}

#bootstrap-overrides .riderCard{
  border-radius: 25px;
  border: none;
  position: relative;
}

#bootstrap-overrides #riderCard1{
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all .2s ease-in-out;
}

#bootstrap-overrides #riderCard1:hover{
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.01);
}

#bootstrap-overrides #riderCard2{
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all .2s ease-in-out;
}

#bootstrap-overrides #riderCard2:hover{
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.01);
}

#bootstrap-overrides #riderCard3{
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all .2s ease-in-out;
}

#bootstrap-overrides #riderCard3:hover{
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.01);
}

#bootstrap-overrides #riderCard4{
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all .2s ease-in-out;
}

#bootstrap-overrides #riderCard4:hover{
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.01);
}

#bootstrap-overrides #riderCard5{
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all .2s ease-in-out;
}

#bootstrap-overrides #riderCard5:hover{
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.01);
}

#bootstrap-overrides #riderCard6{
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all .2s ease-in-out;
}

#bootstrap-overrides #riderCard6:hover{
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.01);
}

#bootstrap-overrides #riderCard7{
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all .2s ease-in-out;
}

#bootstrap-overrides #riderCard7:hover{
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.01);
}

#bootstrap-overrides #riderCard8{
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all .2s ease-in-out;
}

#bootstrap-overrides #riderCard8:hover{
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.01);
}

#bootstrap-overrides #riderCard9{
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all .2s ease-in-out;
}

#bootstrap-overrides #riderCard9:hover{
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.01);
}

#bootstrap-overrides #riderCard10{
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all .2s ease-in-out;
}

#bootstrap-overrides #riderCard10:hover{
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.01);
}

#bootstrap-overrides #riderCard11{
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all .2s ease-in-out;
}

#bootstrap-overrides #riderCard11:hover{
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.01);
}

.riderName {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.partnerImg{
  max-height: 100px;
  max-width: 100%;
}

.footerElement{
  vertical-align: middle;
}

.fullWidth{
  width: 100%;
}

.social-link{
  display: inline-block;
  vertical-align: middle;
  color: white;
  font-size: xx-large;
}

.social-link:hover{
  color: #ae2;
}